/doc/*.aux
/doc/*.bcf
/doc/*.log
/doc/Ausarbeitung.out
/doc/Ausarbeitung.pdf
/doc/Ausarbeitung.synctex.gz
/doc/*.toc
/doc/Inhalt/*.aux
/doc/Ausarbeitung.run.xml
/doc/Bilder/Thumbs.db
/doc/*.bbl
/doc/*.blg
/doc/*.bib
